---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a computer science student with a passion for building things in the tech world. I really enjoy diving into the nitty-gritty details of how stuff works behind the scenes. Learning is my thing, and problem-solving is where I shine. My focus is on creating strong, efficient solutions that make a difference in the digital space. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer Science Student"
      subtitle="09/2022 to 06/2025 at ENSIAS, Rabat, Morocco"
    />
    <TimeLineElement
      title="Preparatory classes student"
      subtitle="09/2020 to 06/2022 at CPGE Salmane Elfarissi, Sale, Morocco"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Full stack developer Intern" 
      subtitle="From 07/2023 to 09/2023 at L'blend, Tiznit, Morocco"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Collaborated with cross-functional teams to gather and analyze requirements, ensuring alignment with project goals and user needs.</li>
      <li>Designed and implemented responsive and user-friendly front-end interfaces, enhancing the overall user experience.</li>
      <li>Implemented RESTful APIs to facilitate communication between the front-end and back-end systems, improving system efficiency.</li>
      
    </ul>
    </TimeLineElement>
    
  </div>
  <!-- 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>
-->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>NodeJs</li>
    <li>Javascript</li>
    <li>Java</li>
    <li>MySQL</li>
    <li>Postgresql</li>
    <li>MongoDB</li>
    <li>React</li>
    <li>Nextjs</li>
    <li>Rust</li>
    
  </ul>
</BaseLayout>
